video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.container{
  display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 flex-direction: row;
 
}
.pack{
  display: flex;

flex-direction: column;

padding:20px

} 

button{
  height:50px;
  width:250px;
  background: rgb(47,56,66);
  background: radial-gradient(circle, rgba(47,56,66,1) 0%, rgba(225,217,213,0.53687412464986) 100%);;
    padding: .4em .4em .4em .8em;
    border:none;
    color:white;
    border-radius: 50%;
    font-size: 20px;
    font-family: 'Yusei Magic', sans-serif;
}
.search{
  height:45px;
  width:230px;
  background: rgb(47,56,66);
  background: radial-gradient(circle, rgba(47,56,66,1) 0%, rgba(225,217,213,0.53687412464986) 100%);;
    padding: .4em .4em .4em .8em;
   
font-size: 20px;
    text-decoration: none;
    text-transform: none;
    border-radius: 50%;
    font-family: 'Yusei Magic', sans-serif;
}

h1{
  font-size: 72px;
  background: -webkit-linear-gradient(#2f3842, #e1d9d5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Yusei Magic', sans-serif;
}

img{
  border-radius: 50%;
}
h2{
  font-family: 'Yusei Magic', sans-serif;
}
.placeholder{
color:white;
font-size: 10px;
}

ul {

  list-style: none;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

li {
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  background: rgb(163,185,158);
  background: radial-gradient(circle, rgba(163,185,158,1) 0%, rgba(225,217,213,0.53687412464986) 100%);
  border-radius: 25%;
width:250px;
  font-family: 'Gantari', sans-serif;
}

.list{
  display: flex;
  justify-content: row;
  flex-wrap: wrap;

border-radius: 5%;
  
 background: rgb(47,56,66);
  background: radial-gradient(circle, rgba(47,56,66,1) 0%, rgba(225,217,213,0.53687412464986) 100%);;
    padding: .4em .4em .4em .8em;
width:800px;
    margin: .5em 0 .5em 2.5em;
 
}
.listRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h4,h5{
  font-family: 'Yusei Magic', sans-serif;
  text-decoration: overline;
  color:#e1d9d5
}

@media all and (max-width:500px){
.list{
  width:400px;
}
}